<a href="https://colab.research.google.com/github/testsubject3382/Beginner-Stuff/blob/main/Beginner_Stuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input= "Tamim Jihan"
print(input)

Tamim Jihan

In [ ]:
num1= 50
num2= 100
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

150
-50
5000
0.5

In [ ]:
name= "Tamim Jihan"
age= 21
colour= "Silver"
print (f'Hi! My name is {name}. I am {age} years old and my favorite colour is {colour}.')

Hi! My name is Tamim Jihan. I am 21 years old and my favorite colour is Silver.

In [ ]:
minutes= 5
seconds= minutes*60
print(seconds)

300

In [ ]:
price= 120
qty= 50
result= price*qty
print(f'Total Cost={result}')

Total Cost=6000

In [ ]:
# operation with numbers
print(3+5)

# operation with strings
print('Iron'+'man')

8
Ironman

In [ ]:
#Creating a Greeting Card

name= __builtins__.input("Enter your name:")
age= __builtins__.input("Enter your age:")
hobby= __builtins__.input("Enter your hobby:")
food= __builtins__.input("Enter your favourite food:")
colour= __builtins__.input("Enter your favourite colour:")

print("Name:"+name)
print("Age:"+age)
print("Hobby:"+hobby)
print("Favourite Food:"+food)
print("Favourite Colour:"+colour)

Enter your name:Tamim Jihan
Enter your age:21
Enter your hobby:Watching TV Series
Enter your favourite food:Pizza
Enter your favourite colour:Silver
Name:Tamim Jihan
Age:21
Hobby:Watching TV Series
Favourite Food:Pizza
Favourite Colour:Silver

In [ ]:
name= __builtins__.input("Enter your name:")
print(name)

Enter your name:Fuck Yeah!
Fuck Yeah!

In [ ]:
pole_votes= __builtins__.input("Enter the number of pole votes:")
usable=int(pole_votes)
people=int(usable/3)
print(f"Usable Votes:{usable*3}")
print(f"Total People:{people}")

Enter the number of pole votes:56665
Usable Votes:169995
Total People:18888

In [ ]:
print("""I am Tamim Jihan.
I am learning programming.
This is kinda annoying, but also fun.""")

I am Tamim Jihan.
I am learning programming.
This is kinda annoying, but also fun.

In [ ]:
laugh= "ha"
print(laugh*5)
print(laugh[1])
word=__builtins__.input("Enter a word:")
print(word[0])
print(word[-1])

hahahahaha
a
Enter a word:Trouble
T
e

In [ ]:
first_name= __builtins__.input("Enter your first name:")
last_name= __builtins__.input("Enter your last name:")
print(first_name + ' ' + last_name)
word=__builtins__.input("Enter a word:")
print(word[0])
print(word[-1])
print(word*3)
sentence=__builtins__.input("Enter a sentence:")
print(sentence.upper())
print(sentence.lower())
print(sentence.strip())
print(sentence.title())
print(sentence.replace("Tamim Jihan", "TJ"))
age=__builtins__.input("Enter your age:")
colour=__builtins__.input("Enter your favourite colour:")
print(f"Hello! {first_name} {last_name}.")
print(f"You are {age} years old.")
print(f"Your favourite colour is {colour}.")
print("\n----------------------------")
print(f"{first_name} {last_name}, {age} years old, with the favourite colour of {colour}, sucks at {word}. He can't even properly write '{sentence}' without making mistakes.")

Enter your first name:Tamim
Enter your last name:Jihan
Tamim Jihan
Enter a word:Programming
P
g
ProgrammingProgrammingProgramming
Enter a sentence:I am Tamim Jihan
I AM TAMIM JIHAN
i am tamim jihan
I am Tamim Jihan
I Am Tamim Jihan
I am TJ
Enter your age:21
Enter your favourite colour:Green
Hello! Tamim Jihan.
You are 21 years old.
Your favourite colour is Green.

----------------------------
Tamim Jihan, 21 years old, with the favourite colour of Green, sucks at Programming. He can't even properly write 'I am Tamim Jihan' without making mistakes.

In [ ]:
bill= float(__builtins__.input("Enter the bill amount:"))
tip= float(bill*.1)
service= float(__builtins__.input("Enter the service level:"))
tax= float(__builtins__.input("Enter the tax amount:"))
number_of_user= int(__builtins__.input("Enter the number of users:"))
service_and_tax= (bill+tip)*service*tax*number_of_user
total= ((bill+tip)+(bill+tip)*service*tax)*number_of_user

print("\n---------------")
print(f"Total Purchase: {bill}")
print(f"Service Charge: {service}")
print(f"Tax Rate: {tax}")
print(f"Total Amount: {total}")
print(f"Service and Tax: {service_and_tax}")
print(f"Amount Per Person: {total/number_of_user}")
print("\n---------------")

Enter the bill amount:5685
Enter the service level:.1
Enter the tax amount:.15
Enter the number of users:3

---------------
Total Purchase: 5685.0
Service Charge: 0.1
Tax Rate: 0.15
Total Amount: 19041.9075
Service and Tax: 281.40749999999997
Amount Per Person: 6347.302500000001

---------------

In [ ]:
isinstance('Hello World!', int)

False

In [ ]:
def caesar():
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    shift = 5
    shifted_alphabet = alphabet[shift:] + alphabet[:shift]
    translation_table = str.maketrans(alphabet, shifted_alphabet)
    text = 'hello world'
    encrypted_text = text.translate(translation_table)
    print(encrypted_text)

In [ ]:
#Beginner stuff Alison 1

number=12
number=str(number)
print(type(number))
#Inputs and stuff
number=input('enter a number:')
print('You are '+number+' years old.')
#Maths and stuff
print('Simple calculator')
a=float(input('Enter first number:'))
b=float(input('Enter second number:'))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)#Division without decimal
print(a**b)#Power
print(a%b)#Remainder
#Conditions
if a==b:
  print('Your numbers are equal')

elif a>=b:
  print('a is greater or equal to b')
elif a<=b:
  print('a is lesser or equal to b')
#Loops (Two types: iterative{for}, condition{while})
for i in range(1,100,40):
  print(i)
j=1
while j<=51:
  print(j)
  j+=4
k=0
string='Tamim Jihan'
while k<len(string):
  print(string[k])
  k+=1

<class 'str'>
enter a number:33
You are 33 years old.
Simple calculator
Enter first number:4
Enter second number:5
9.0
-1.0
20.0
0.8
0.0
1024.0
4.0
a is lesser or equal to b
1
41
81
1
5
9
13
17
21
25
29
33
37
41
45
49
T
a
m
i
m

J
i
h
a
n

In [ ]:
#Beginner stuff Alison 2

#List
list1=['apple','banana','orange','mango','pear','pineapple']
list1[3]='horse'
print(list1[::-1])
#add
list1.append('kiwi')
print(list1)
#remove
list1.remove('kiwi')
print(list1)
list1.pop(4)
print(len(list1))

#Bubble sort
my_list=[8,3,1,4] # Renamed 'list' to 'my_list' to avoid shadowing built-in type
length=len(my_list)
print(my_list)
for i in range(length):
  for j in range(0,length-i-1): # Changed inner loop variable from 'i' to 'j'
    if my_list[j]>my_list[j+1]: # Used 'j' for indexing
      my_list[j],my_list[j+1]=my_list[j+1],my_list[j]
print(my_list)

['pineapple', 'pear', 'horse', 'orange', 'banana', 'apple']
['apple', 'banana', 'orange', 'horse', 'pear', 'pineapple', 'kiwi']
['apple', 'banana', 'orange', 'horse', 'pear', 'pineapple']
5
[8, 3, 1, 4]
[1, 3, 4, 8]

In [ ]:
#Beginner stuff Alison 3

#Function- Function is a reusable chunk of code that is either user defined or predefined. It can be
#called out at any moment and used repeatedly.

def function_1():
  print('Hello world')
function_1()
def function_2(yello='Hello'):
  for char in yello:
    print(char)
function_2()
def bills_nd_stufff():
  bill= float(__builtins__.input("Enter the bill amount:"))
  tip= float(bill*.1)
  service= float(__builtins__.input("Enter the service level:"))
  tax= float(__builtins__.input("Enter the tax amount:"))
  number_of_user= int(__builtins__.input("Enter the number of users:"))
  service_and_tax= (bill+tip)*service*tax*number_of_user
  total= ((bill+tip)+(bill+tip)*service*tax)*number_of_user
  print("\n---------------")
  print(f"Total Purchase: {bill}")
  print(f"Service Charge: {service}")
  print(f"Tax Rate: {tax}")
  print(f"Total Amount: {total}")
  print(f"Service and Tax: {service_and_tax}")
  print(f"Amount Per Person: {total/number_of_user}")
  print("\n---------------")
bills_nd_stufff()

Hello world
H
e
l
l
o
Enter the bill amount:545
Enter the service level:.1
Enter the tax amount:0
Enter the number of users:6

---------------
Total Purchase: 545.0
Service Charge: 0.1
Tax Rate: 0.0
Total Amount: 3597.0
Service and Tax: 0.0
Amount Per Person: 599.5

---------------

In [3]:
# Scopes (Global, Local-inside the function)

x=10  #Global
def function():
  x=20  #Local
function()
print(x)

def function1():
  global x  #Making a local function into a global function
  x=20
function1()
print(x)

10
20

In [10]:
#Returning the data from the function to the code

def reverse(string):
  return string[::-1]   #After a return keyword, nothing in a function is executed

stringinverse= reverse('Hello world')
print('data',stringinverse)

data dlrow olleH

In [2]:
def hello():
  name= input('Enter your name: ').strip().title()
  print('Hello,', name)
hello()

Enter your name:                 tamim jihan
Hello, Tamim Jihan

In [4]:
# Using return fucntion in a code

def main():
  x= float(input('Enter a number: '))
  print('x squared is ', square(x))

def square(n):
  return n*n

main()

Enter a number: 98.99
x squared is  9799.0201